#T1 {color: rgb(197, 197, 197);}
#T2 {color: rgb(197, 197, 197);}
#Par1 {color: rgb(197, 197, 197);}

html {background-color: rgb(29, 29, 29);}

#link1 {color: rgb(197, 197, 197);}
#frasegenerica1 {color: rgb(197, 197, 197);}
#imgelement {width:200px;}
#yipimg {width: 50px;}

